@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    color: rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
}

.sidebar {
    -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.gradient-border {
    border: 2px solid;
    border-image: linear-gradient(
        to right,
        rgba(189, 0, 255, 0.1),
        rgba(189, 0, 255, 0.3)
    );
    border-image-slice: 1;
}
